.App {
  text-align: center;
  font-family: "lato";
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  font-family: "lato";
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0px;
}

/*Search bar*/
.searchBar{
  width: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: large;
}

.searchBar .input[type=text]{
  width: 600px;
  height: 2.8rem;
  background: #FFFFFF;
  border: 3px solid #f5f5f5;
  outline: none;
  border-radius: 0.75rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 0.90rem;
}
.searchBar .searchSubmit{
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  align-self: center;
  background: none;
  border: none;
  outline: none;
}

/*info bar*/

.container-infobar{
  height: 27px;
  width: 100%;
  background-color: #1db5c0;
  color: white;
  font-family: "lato";
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1;
}

.container-infobar .link-1{
  font-size: 33;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
  grid-column-start: 2;
  grid-column-end: 4;
  justify-self: end;
}

.container-infobar .link-2{
  font-size: 33;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
  grid-column-start: 4;
  grid-column-end: 6;
  justify-self: start;
}

/*Header*/




/* not found */
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(68, 68, 68);
  min-height: 88vh;
}

.not-found h2 {
  font-size: 55px;
}
.not-found p {
  font-size: 28px;
}

/*home*/
.home-container {
  padding: 2rem 4rem;
}
.home-container h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}
.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 15px;
  width: 300px;
  max-width: 100%;
  height: 400px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(94, 104, 121, 0.3);
}
.product h3 {
  font-size: 25px;
  font-weight: 400;
}
.product img {
  max-width: 100px;
  max-height: 200px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.product .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product .details .price {
  font-size: 20px;
  font-weight: 700;
}
.product button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-top: 2rem;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: #1db5c0;
  color: #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
}
/*form*/
.container > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background: clear;
  font-family: "lato";
  line-height: 20px;
  align-self: flex-start;
}
input[type="text"],
input[type="password"] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  outline: none;
  align-self: center;
  align-items: flex-start;
}
/*filter*/
.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.filter div {
  flex: 1;
}
/*adding the notification thingy to the cart*/
.bag-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #1db5c0;
  font-size: 14px;
  font-weight: 700;
  color: white;
  margin-left: 5px;
}
/* cart*/

.cart-container {
  padding: 2rem 4rem;
}
.cart-container h2 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.cart-container .titles {
  margin: 2rem 0 1rem 0;
}
.cart-container .titles h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.cart-item,
.cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}

.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}

.cart-container .titles .product-title {
  padding-left: 0.5rem;
}
.cart-container .titles .total {
  padding-right: 0.5rem;
  justify-self: right;
}
.cart-item .cart-product {
  display: flex;
}
.cart-item .cart-product img {
  width: 100px;
  max-width: 100%;
  margin-right: 1rem;
}
.cart-item .cart-product h3 {
  font-weight: 400;
}
.cart-item .cart-product button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: gray;
}
.cart-item .cart-product button:hover {
  color: black;
}
.cart-product-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 5px;
}
.cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}
.cart-product-quantity .count {
  padding: 0.7rem 0;
}
.cart-product-total-price {
  justify-self: right;
  padding-right: 0.5rem;
  font-weight: 700;
}
/* cart summary */
.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}
.cart-checkout .subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.cart-checkout .subtotal .amount {
  font-weight: 700;
}
.cart-checkout p {
  font-size: 14px;
  font-weight: 200;
  margin: 0.5rem 0;
}
.continue-shopping,
.start-shopping {
  margin-top: 1rem;
}
.continue-shopping a,
.start-shopping a {
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.continue-shopping a span,
.start-shopping a span {
  margin-left: 0.5rem;
}
.cart-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* login form*/
.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input[type="email"],
input[type="password"] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  outline: none;
}

login-button {
  background-color: black;
  padding: 20px 40px;
  color: #fff;
  border: none;
}
login-p {
  color: red;
}
/*profile*/
.profile-wrapper {
  margin-top: 200px;
}
.profile-flex-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

button.profile-cart {
  background-color: #1db5c0;
  padding: 20px 40px;
  width: 200px;
  color: #3b3b3b;
  border: lightgray;
}
button.profile-wishlist {
  background-color: #1db5c0;
  padding: 20px 40px;
  color: #3b3b3b;
  border: lightgray;
}
button.profile-commandes {
  background-color: #1db5c0;
  padding: 20px 40px;
  color: #3b3b3b;
  border: lightgray;
}
button.profile-vendeurs {
  background-color: #1db5c0;
  padding: 20px 40px;
  color: #3b3b3b;
  border: gray;
}
button.profile-profile {
  margin-top: 100px;
  background-color: #1db5c0;
  padding: 20px 40px;
  width: 200px;
    color: #3b3b3b;
  border: gray;
}
.buttons-flex {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 200px;
  margin-top: 100px;
  align-items: center;
  justify-self: flex-start;
  font-size: 20px;
}

/*profile edit page*/
.profile-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 40px;
}
profile-edit.input[type="tel"] {
  padding: 12px 20px;
  margin: 8px 0;
  outline: none;
}
h1 {
  margin-bottom: 10px;
}
profile-edit > input[type="date"] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  outline: none;
  justify-self: center;
}
profile-edit > input[type="text"] {
  flex-basis: 100px;
  height: 10px;
  justify-self: flex-start;
}
.profile-edit-small {
  display: flex;
  align-items: row;
  justify-content: space-between;
}
.label {
  justify-self: center;
}
.profile-edit button {
  align-self: center;
}
.profile-edit button:hover {
  background-color: #1db5c0;
}

/*megamenu*/
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Mega Menu header, if needed */
.dropdown-content .header {
  background: red;
  padding: 16px;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #ccc;
  height: 250px;
}

/* Style links inside the columns */
.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a background color on hover */
.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* single product detail*/

.container-spd {
  max-width: 1200px;
  width: 100%;
  margin: 100px auto;
  box-shadow: 0 0 5px #ccc;
}
.product-detail-spd {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0;
}
.product-detail-spd .big-img-spd {
  max-width: 500px;
  min-width: 290px;
  overflow: hidden;
  margin: 25px;
}
.big-img img {
  width: 50%;
  height: 50;
  max-height: 400px;
  display: block;
  object-fit: cover;
}
.details .box-spd {
  max-width: 500px;
  min-width: 290px;
  margin: 25px;
}
.box-spd .row-spd {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.box-spd .row-spd h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.box-spd .row-spd .span {
  color: #282c34;
}
/*.box-spd .colors-spd button{
this is supposed to be the styling for the color buttons
width: 30px;
height: 30px;
border: 1px solid #333;
outline: none;
margin-right: 5px;
cursor: pointer;
}*/

.box-spd p {
  line-height: 1.5;
  margin: 15px 0;
}
.thumb-spd {
  width: 100%;
  height: 200px;
  display: flex;
  cursor: pointer;
  margin: 10px 0;
}
.thumb-spd img {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
  border: 1px solid #ddd;
  margin-right: 5px;
  opacity: 0.7;
  border-radius: 5px;
}

.thumb-spd img.active {
  opacity: 1;
  border: 1px solid lightseagreen;
}
.box-spd .cart-spd {
  cursor: pointer;
  padding: 10px 25px;
  margin-top: 15px;
  margin-right: 5px;
}
.box-spd .wishlist-spd {
  cursor: pointer;
  padding: 10px 25px;
  margin-top: 15px;
}

@media (max-width: 500px){
  .thumb-spd{
    height: 50px;
  }
  .thumb-spd img{
    width: 50px;
  }
}
.spd-p{
  color: black;
}






