body {
    background: #fff;
    font-family: "lato";
  }
  
  .container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 800px;
    width: 100%;
    margin: auto;
    font-family: "lato";
  }
  .container > form {
    width: 100%;
    padding: 20px;
    background: #fff;
    font-family: "lato";
  }
  input[type="text"],
  input[type="password"] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    outline: none;
  }
  
  pre {
    width: 70%;
    color: #fff;
    font-size: larger;
  }
  
  button {
    background: #000000;
    padding: 20px 40px;
    color: #fff;
    border: none;
  }
  p {
    color: red;
  }
  
  