

.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 800px;
  width: 100%;
  margin: auto;
  font-family: "lato";
}
.container > form {
  width: 100%;
  padding: 20px;
  background: clear;
  font-family: "lato";
  line-height: 20px;
}
input[type="text"],
input[type="password"] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  outline: none;
  align-self: center;
  align-items: flex-start;
}
input[type="description"] {
  width: 60%;
  line-height: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  outline: none;
  align-self: flex-start;
  align-items: flex-start;
}
input[type="checkbox"] {
  width: 20%;
}

pre {
  width: 70%;
  color: #fff;
  font-size: larger;
}

button {
  background: #000000;
  padding: 20px 40px;
  color: #fff;
  border: none;
}
p {
  color: red;
}
